:root {
	--table_bg: #cccccc;

	--state_color: #1eb080;
	--target_color: #ff445f;
	--demand_color: #f7d43f;
	--consumption_color: #ffa528;
	--storage_color: #ccccff;
	--products_color: #bfece2;
	--recipes_color: #0bdeee;
	--shopping_list_color: #ff6fc0;
	--fat_color: #ff5d6d;
	--carbs_color: #44b3a6;
	--muscle_color: #2e6e90;
}


span {
	margin: 5px;
}

button {
	width: 45px;
	height: 45px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
}

#wg_Menu_content button {
	width: 100px;
}

input {
	height: 45px;
	vertical-align: middle;
	margin: 5px;
}

select {
	height: 45px;
	vertical-align: middle;
	margin: 5px;
}

table {
	width: 100%;
}

td {
	text-align: center;
}

.datatable_header {
	width: 60px;
}

.user_state input {
	height: 45px;
	max-width: 60px;
	text-align: center;
	vertical-align: middle;
}

.user_target input {
	height: 45px;
	max-width: 60px;
	text-align: center;
	vertical-align: middle;
}

/* MENU */
.menu_user_state {
	background: var(--state_color) !important;
}

.menu_user_target {
	background: var(--target_color) !important;
}

.menu_demand {
	background: var(--demand_color);
}

.menu_consumption {
	background: var(--consumption_color);
}

.menu_storage {
	background: var(--storage_color);
}

.menu_products {
	background: var(--products_color);
}

.menu_recipes {
        background: var(--recipes_color);
}

.menu_shopping_list {
        background: var(--shopping_list_color);
}


/* CONSUMPTION */
.consumption select {
	height: 45px;
        max-width: 360px;
        vertical-align: middle;
}

.consumption input {
	height: 45px;
        text-align: center;
        vertical-align: middle;
}

.consumption td:last-child {
	text-align: right;
}

#Consumption_consumption_calc_table {
	border-spacing: 0px;
	border-collapse: collapse;
	background: var(--table_bg);
}

#Consumption_consumption_calc_table td {
	padding: 5px;
}


#Consumption_consumption_calc_table tr:nth-child(0n+2) td {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

#Consumption_consumption_calc_table tr td:nth-child(-n+7) {
	background: var(--demand_color);
}

#Consumption_consumption_calc_table tr td:nth-child(-n+5) {
        background: var(--consumption_color);
}

#Consumption_consumption_calc_table tr td:nth-child(-n+1) {
        background: var(--table_bg);
}

#Consumption_consumption_calc_table tr:nth-child(0n+6) td, #Consumption_consumption_calc_table tr:nth-child(0n+1) td {
        background: var(--table_bg);
}

#Consumption_consumption_calc_table tr:first-child td {
        font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}

#Consumption_consumption_calc_table tr:nth-child(0n+5) td, #Consumption_consumption_calc_table tr:nth-child(0n+6) td {
        border-bottom: 2px solid black;
}

#Consumption_consumption_calc_table tr:nth-child(0n+7) td {
        border: 0px solid black;
}

#Consumption_consumption_calc_table td:first-child {
        font-weight: bold;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#Consumption_consumption_calc_table td {
	text-align: left;
	border-right: 1px solid black;
}

#Consumption_consumption_calc_table tr.consumption_not_calculated td {
	border: 0px;
        background: var(--table_bg);
}

#Consumption_consumption_calc_table tr.consumption_calculated td {
	border: 1px solid black;
}

#Consumption_consumption_ProductsId {
	background: var(--storage_color);
}

/* STORAGE */
.storage input {
	height: 45px;
        max-width: 60px;
        text-align: center;
        vertical-align: middle;
}

#Storage_storage_ProductsId, #Storage_storage_ProductsSourceId {
	height: 45px;
	min-width: 250px;
	max-width: 350px;
	vertical-align: middle;
}

#Storage_storage_ProductsId {
	background: var(--products_color);
}

#Storage_storage_ProductsSourceId {
	background: var(--shopping_list_color);
}

/* PRODUCTS */
.products input {
        height: 45px;
        max-width: 60px;
        text-align: center;
        vertical-align: middle;
}

#Products_products_Name {
        min-width: 300px;
        max-width: 360px;
}

/* RECIPES */

.recipes_cg_table td {
	padding: 5px;
	border-bottom: 1px dashed black;
}

.datatable_header_recipes {
	width: 30px;
}

#wg_Recipes_content div {
	text-align: center;
}

.recipes_sub_menu button {
	width: 100px;
}

.recipes_cg_agg_table td {
        padding: 5px;
        border-bottom: 2px solid black;
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+22) {
	background: #ffffff;
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+16) {
        background: var(--muscle_color);
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+13) {
        background: var(--carbs_color);
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+10) {
        background: var(--fat_color);
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+7) {
        background: #ffffff;
}

.recipes_cg_agg_table tr:first-child td:nth-child(-n+1) {
	background: var(--products_color);
}

.recipes_cg_agg_table td:first-child {
        background: var(--products_color);
}

.recipes_cg_agg_table td:nth-child(3n+1) {
        border-right: 2px solid black;
}

.recipes_cg_agg_table td:nth-child(3n+3) {
        background: #dddddd;
}

div.recipes_product_in_storage {
	background: var(--storage_color) !important;
}

/* SHOPPING LIST */

.shopping_list tr:nth-child(2n+0) {
	background: #dddddd;
}

.shopping_list tr:first-child td:nth-child(-n+5) {
        background: var(--products_color);
}

.shopping_list tr:first-child td:nth-child(-n+3) {
        background: var(--shopping_list_color);
}

.shopping_list tr:first-child td:nth-child(-n+1) {
        background: #ffffff;
}



/* ------- */
.pal_header td {
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 30px;
}

.pal_footer td {
	border-top: 1px solid black;
	font-weight: bold;
	font-size: 30px;
}

.pal_2 {
	width: 20%;
}

.pal_3 {
	border-right: 1px solid black;
	width: 45px;
}

.pal_result {
	color: #ffffff;
	background: #000000;
	vertical-align: middle;
	margin: 5px;
	padding: 5px;
}

.pal_table {
	background: #cccccc;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.subset {
	background: #cccccc;
	padding: 5px;
	margin-bottom: 5px;
}
